<div class="container">
    <form #form="ngForm" id="rest">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput name="title" placeholder="Title" value="" [(ngModel)]="newPost.title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput name="description" placeholder="Description" value="" [(ngModel)]="newPost.description">
            </mat-form-field>
        </div>            
    <div>
        <mat-form-field>
            <mat-label>Category</mat-label>
        <mat-select placeholder="Category" [(ngModel)]="newPost.category" name="category">
            <mat-option *ngFor="let item of categories" [value]="item.value">
                {{item.value}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>   
    <div>
        <div>
            <mat-form-field class="">
                <mat-label>URL of the image</mat-label>           
                <input matInput name="imageURL" placeholder="URL of the image" value="https://source.unsplash.com/random" [(ngModel)]="newPost.imageUrl"> 
                <mat-icon matSuffix>link</mat-icon>
            </mat-form-field>               
        </div>
    </div> 
  
    <div mat-dialog-actions class="row" align="end">
        <div class="col-sm-6">
                <button type="button" mat-button mat-dialog-close (click)="ClearData()">Cancel</button>
        </div>
        <div class="col-sm-6">
                <button type="button" mat-raised-button color="primary" (click)="SavePost(newPost)">Save</button>
        </div>
    </div>     
    </form>
</div>