<div class="test">
    <div class="right">
    <mat-button-toggle-group class="flex-wrap" >
        <mat-button-toggle (click)="setCategory(button)" *ngFor="let button of categories">{{button.value}}</mat-button-toggle>            
    </mat-button-toggle-group>    
    <br>    
    </div>
    <div class="row">
        <div id="postsContainer" class="col-sm-6" *ngFor="let post of postArray">
            <app-post-preview style="height: 320px; background-size: cover;" [postData]= 'post'
             (removeEmitter)="removePost(post.id)">
          </app-post-preview>
        </div>
    </div>
</div>
