 <mat-card class="example-card" id="DivPost" [ngClass]="'Backhover'" (mouseover)="mouseOver()" (mouseout)="mouseOut()" [ngStyle]="{'background-image': this.postData.imageUrl}" routerLink="{{URLNEW}}">
    <mat-card-header>      
      <mat-card-title>{{postData.title}}</mat-card-title>
    </mat-card-header>
    <div class="">
      <mat-card-content class="col-sm-10">
        <div class="postDetails">
            <div id="bar" style="height: 12px;" [ngClass]="{'barprogress': hover === 'out', 'barprogressoverlay': hover === 'in' }" >              
            </div>
            <i><p>{{commentsLength}} Comments <mat-icon> insert_comment</mat-icon> </p></i>
            <h4 class="card-subtitle mb-2">{{postData.description}}</h4>
            <p class="card-text">{{postData.category}}</p> 
          </div>          
      </mat-card-content>
      <mat-card-actions [hidden]="!showActions"  class="col-sm-2" align="end" >
        <button aria-label="Delete" mat-button  (click)="removeEmit(); $event.stopPropagation()"><mat-icon>delete</mat-icon></button>        
        <button aria-label="Edit" mat-button (click)="openEditDialog(postData.id); $event.stopPropagation(); "><mat-icon>edit</mat-icon></button>      
      </mat-card-actions> 
    </div>
  
</mat-card>
